[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-dance = "*"
flask-wtf = "*"
gunicorn = "*"
plotly = "*"
pyrankvote = {editable = true, ref = "eb52bb35a4031d24fa8329c19cfe45f737e2aadf", git = "https://github.com/chrisroat/pyrankvote.git"}
google-api-python-client = "*"
google-auth = "*"
numpy = "*"
pandas = "*"
blinker = "*"
flask-breadcrumbs = "*"

[dev-packages]
rope = "*"
flake8 = "*"
isort = "*"
black = "*"
python-dotenv = "*"
pytest = "*"

[requires]
python_version = "3.9"
